.product-card {
    max-width: 228px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.product-card h3 {
    font-size: 16px;
}

.product-card p {
    color: #D2232A;
    font-weight: 700;
}

.product-card button {
    width: 100%;
    height: 40px;
    border: none;
    background-color: #D2232A;
    color: #fff;
    font-size: 16px;
}

.product-card img {
    transition: 0.7s;
}

.product-card img:hover {
    transform: scale(1.03);
}