.confirmcpf-main-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 45px 0;
}

.confirmcpf-container{
    background-color: #ededed;
    border-radius: 30px;
    width: 606px;
}

.seta-container{
    padding: 15px 0 0 15px;
}

.confirm-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 5px;
    gap: 50px;
}

.confirmcpf-form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 50px 0;
}

.confirmcpf-label{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 400px;
    margin-bottom: 50px;
}

.confirmcpf-span{
    color: #D2232A;
    font-weight: 500;
}

.confirmcpf-submit{
    padding: 7px 163px;
    font-size: 24px;
    border: none;
    background-color: #D2232A;
    color: #fff;
    cursor: pointer;
}