.header-main-container{
    box-sizing: border-box;
    width: 100%;
}

.announceheader-container{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #d2232a;
    height: 40px;
    gap: 15px;
    width: 100%;
    box-sizing: border-box;
}

.announceheader-h3{
    color: #fff;
    font-weight: 400;
    font-size: 14px;
}

.header-container {
    background-color: black;
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 104px;
    box-sizing: border-box;
}

.header-logo {
    color: white;
    display: flex;
    align-items: center;
}

.header-menu ul {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-between;
}

.header-menu ul li a {
    text-decoration: none;
    color: white;
    transition: .2s;
    position: relative;
    padding: 5px 10px;
}

.header-menu ul:hover li a {
    opacity: .3;
}

.header-menu ul li a:hover {
    opacity: 1;
    transform: scale(1.1);
}

.header-menu ul li a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #d2232a;
    border-radius: 20px;
    z-index: -1;
    transform-origin: right;
    transform: scaleX(0);
}

.header-menu ul li a:hover::before {
    transform-origin: left;
    transform: scaleX(1);
    transition: transform .5s;
}


.options-container {
    display: flex;
    gap: 25px;
}

.header-logo {
    transition: 0.7s;
}

.header-logo:hover {
    transform: scale(1.03);
}

.options-container img{
    transition: 0.7s;
}

.options-container img:hover {
    transform: scale(1.1);
}