.header-main-container{
    box-sizing: border-box;
    width: 100%;
}

.announceheader-container{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #d2232a;
    height: 40px;
    gap: 15px;
    width: 100%;
    box-sizing: border-box;
}

.announceheader-h3{
    color: #fff;
    font-weight: 400;
    font-size: 14px;
}

.header-container {
    background-color: black;
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 104px;
    box-sizing: border-box;
}

.header-logo {
    color: white;
    display: flex;
    align-items: center;
}

.header-menu ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
    gap: 25px;
}

.header-menu li{
    transition: 0.7s;
}

.header-menu li:hover {
    transform: scale(1.05);
    color: red;
}

.header-menu a {
    text-decoration: none;
    color: white;
    transition: 0.7s;
}

.header-menu a:hover {
    color: red;
}

.options-container {
    display: flex;
    gap: 25px;
}

.header-logo {
    transition: 0.7s;
}

.header-logo:hover {
    transform: scale(1.03);
}

.options-container img{
    transition: 0.7s;
}

.options-container img:hover {
    transform: scale(1.1);
}

.header-menu ul li::after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background: #d2232a;
    transition: width 0.3s;
}

.header-menu ul li:hover::after {
    width: 100%;
    transition: width 0.3s;
}