.search-main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 45px;
}

.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 45px;
}

.search-form {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.search-text {
    border: none;
    width: 600px;
}

.search-submit {
    background-color: #d2232a;
    color: white;
    border: none;
    font-size: 24px;
    padding: 12px 45px;
    cursor: pointer;
}

.search-h2 {
    color: #d2232a;
    margin-bottom: 45px;
}

.search-select-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.select-container {
    display: flex;
    gap: 20px;
    margin-bottom: 45px;
    align-items: center;
}

.select-container span{
    font-size: 16px;
    color: #000;
    font-weight: 600;
}

.search-select {
    background-color: #000;
    color: #fff;
    font-size: 16px;
    width: 200px;
    padding: 5px 10px;
    font-weight: 500;
}

input:focus {
    outline: none;
}

/* produtos */

.search-results {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    width: 95%;
    justify-content: center;
    align-items: center;
    gap: 45px;
    overflow-y: auto;
    max-height: 750px;
    padding: 15px;
    background-color: #fafafa;
}

.search-results::-webkit-scrollbar {
    width: 7px;
}

.search-results::-webkit-scrollbar-thumb {
    background-color: #d2232a;
    border-radius: 10px;
}

.product-row {
    display: flex;
    width: 100%;
}

.product-col {
    flex: 1 0 25%;
    margin: 10px;
}

.no-results{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: 600;
    color: #000;
}